/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */

:root {
	/* @utopia typeScale({
    minWidth: 320,        
    maxWidth: 1240,         
    minFontSize: 10,
    maxFontSize: 18,
    minTypeScale: 1.2,
    maxTypeScale: 1.25,
    positiveSteps: 7,
    negativeSteps: 2,
    relativeTo: 'viewport', 
    prefix: 'step'          
  }); */
}

#page	 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3E%3Cdefs%3E%3ClinearGradient gradientTransform='rotate(-58, 0.5, 0.5)' x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='gggrain-gradient2'%3E%3Cstop stop-color='rgba(255, 255, 255, 0.00)' stop-opacity='1' offset='-0%25'%3E%3C/stop%3E%3Cstop stop-color='rgba(255,255,255,0)' stop-opacity='0' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient gradientTransform='rotate(58, 0.5, 0.5)' x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='gggrain-gradient3'%3E%3Cstop stop-color='rgb(255, 255, 255)' stop-opacity='1'%3E%3C/stop%3E%3Cstop stop-color='rgba(255,255,255,0)' stop-opacity='0' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3Cfilter id='gggrain-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.3' numOctaves='2' seed='2' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='colormatrix'%3E%3C/feColorMatrix%3E%3CfeComponentTransfer x='0%25' y='0%25' width='100%25' height='100%25' in='colormatrix' result='componentTransfer'%3E%3CfeFuncR type='linear' slope='3'%3E%3C/feFuncR%3E%3CfeFuncG type='linear' slope='3'%3E%3C/feFuncG%3E%3CfeFuncB type='linear' slope='3'%3E%3C/feFuncB%3E%3C/feComponentTransfer%3E%3CfeColorMatrix x='0%25' y='0%25' width='100%25' height='100%25' in='componentTransfer' result='colormatrix2' type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 24 -16'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg%3E%3Crect width='100%25' height='100%25' fill='%23ffffff'%3E%3C/rect%3E%3Crect width='100%25' height='100%25' fill='url(%23gggrain-gradient3)'%3E%3C/rect%3E%3Crect width='100%25' height='100%25' fill='url(%23gggrain-gradient2)'%3E%3C/rect%3E%3Crect width='100%25' height='100%25' fill='transparent' filter='url(%23gggrain-filter)' opacity='0.1' style='mix-blend-mode: exclusion'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
	background-repeat: repeat;
}

body {
	@apply bg-background text-foreground font-content;
	font-size: var(--text-step-0);
}

h1 {
	font-size: var(--text-step-7);
}

h2 {
	font-size: var(--text-step-6);
}

h3 {
	font-size: var(--text-step-5);
}

h1,
h2,
h3,
h4 {
	max-inline-size: 25ch;
	@apply font-display;
	line-height: 1.5;
}

/* Set line lengths */
p,
li,
blockquote:not([class]) {
	max-inline-size: 65ch;
}

* .text-center > p,
li,
blockquote:not([class]) {
	max-inline-size: none;
}

blockquote {
	border-inline-start: 0.5rem solid var(--color-primary);
	padding: var(--spacing-m-l);
	font-size: var(--size-step-2);
}

blockquote > * + * {
	margin-block-start: var(--spacing-m-l);
}

blockquote :last-child {
	font-family: var(--font-base);
	font-style: normal;
	font-size: var(--size-step-1);
}

svg {
	block-size: 2ex;
	inline-size: auto;
	flex: none;
}

strong {
	font-weight: bolder;
}

hr {
	border: 0;
	height: 1px;
	width: 10%;
	margin-block: var(--spacing-m-l);
	margin-inline-start: 0;
	background-color: var(--color-bg-accent-2);
}

[role="list"] {
	padding: 0;
}

/* Base interactive elements */

a {
	color: currentcolor;
	text-decoration-thickness: 0.08em;
}

a:hover {
	text-decoration: none;
}

:focus-visible {
	outline: 3px solid;
	outline-offset: 0.3ch;
}

main:focus {
	outline: none;
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
	background-color: var(--color-text);
	color: var(--color-bg);
}

.preload-transitions * {
	transition: none !important;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	::after,
	::before {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
		transition-duration: 0.01ms !important;
	}
}

/* 
	TODO:
	3. Add custom colors, typography, and spacing to theme.json + recipe in comments
	*/
